<div class="jumbotron vertical-center p-3">
    <h1 class="mb-4">
        <div class="hero-icon-container"><svg xmlns="http://www.w3.org/2000/svg" height="42" viewBox="0 0 34 43" class="svg-icon hero-icon" aria-hidden="true"><title>API Reference</title><g id="List" class="svg-icon-large"><path id="Rectangle-12-Copy" fill-rule="nonzero" d="M2 41h30V2H2v39zM0 0h34v43H0V0z"></path><rect id="Rectangle-12-Copy-2" width="17" height="2" x="11" y="10"></rect><rect id="Rectangle-12-Copy-4" width="17" height="2" x="11" y="17"></rect><rect id="Rectangle-12-Copy-6" width="17" height="2" x="11" y="24"></rect><rect id="Rectangle-12-Copy-8" width="17" height="2" x="11" y="31"></rect><path id="Rectangle-12-Copy-3" fill-rule="nonzero" d="M6 12l2-2v2l-2-2h2l-2 2v-2l2 2H6zm0-2h2v2H6v-2zm0 0h2v2H6v-2z"></path><path id="Rectangle-12-Copy-5" fill-rule="nonzero" d="M6 19l2-2v2l-2-2h2l-2 2v-2l2 2H6zm0-2h2v2H6v-2zm0 0h2v2H6v-2z"></path><path id="Rectangle-12-Copy-7" fill-rule="nonzero" d="M6 26l2-2v2l-2-2h2l-2 2v-2l2 2H6zm0-2h2v2H6v-2zm0 0h2v2H6v-2z"></path><path id="Rectangle-12-Copy-9" fill-rule="nonzero" d="M6 33l2-2v2l-2-2h2l-2 2v-2l2 2H6zm0-2h2v2H6v-2zm0 0h2v2H6v-2z"></path></g></svg><svg xmlns="http://www.w3.org/2000/svg" height="42" viewBox="0 0 50 42" class="svg-icon hero-icon" aria-hidden="true"><title>Sample Code</title><g id="Curly-Brackets" class="svg-icon-large" fill-rule="nonzero"><path id="Rectangle-12" d="M9 15V6.994C9 4.234 11.235 2 14 2h5V0h-5c-3.87 0-7 3.13-7 6.994V15h2z"></path><path id="Rectangle-12-Copy-10" d="M7 7v8.006C7 17.766 4.765 20 2 20H0v2h2c3.87 0 7-3.13 7-6.994V7H7z"></path><path id="Rectangle-12" d="M7 27v8.006C7 38.87 10.13 42 14 42h5v-2h-5c-2.765 0-5-2.235-5-4.994V27H7z"></path><path id="Rectangle-12-Copy-10" d="M9 35v-8.006C9 23.13 5.87 20 2 20H0v2h2c2.765 0 5 2.235 5 4.994V35h2z"></path><path id="Rectangle-12" d="M43 15V6.994C43 3.13 39.87 0 36 0h-5v2h5c2.765 0 5 2.235 5 4.994V15h2z"></path><path id="Rectangle-12-Copy-10" d="M41 7v8.006C41 18.87 44.13 22 48 22h2v-2h-2c-2.765 0-5-2.235-5-4.994V7h-2z"></path><path id="Rectangle-12" d="M41 27v8.006C41 37.766 38.765 40 36 40h-5v2h5c3.87 0 7-3.13 7-6.994V27h-2z"></path><path id="Rectangle-12-Copy-10" d="M43 35v-8.006C43 24.234 45.235 22 48 22h2v-2h-2c-3.87 0-7 3.13-7 6.994V35h2z"></path></g></svg><svg xmlns="http://www.w3.org/2000/svg" height="34" viewBox="0 0 34 43" class="svg-icon hero-icon" aria-hidden="true"><title>Article</title><g id="Doc-Single" class="svg-icon-large"><rect id="Rectangle" width="2" height="15" x="19" y="1"></rect><rect id="Rectangle-Copy" width="14" height="2" x="19" y="14"></rect><path id="Rectangle-12-Copy" fill-rule="nonzero" d="M2 41h30V14.21L19.814 2H2v39zM0 0h20.643L34 13.38V43H0V0z"></path></g></svg></div>
        <span class="text-light">
            Interblocks - Statement API
        </span>
        
    </h1>
    <p class="lead text-light">Browse the latest developer documentation including API reference, articles, and sample code.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Interblocks api uses latest rESTfull technologies as you know it. in this section you will get to know
        how to start using this api. Same time you will learn how to setup the working enviroment since this api can use
        any type of data access for Rest supporting client appication. for the client configurations and lastest techniques 
        please visit the Configurations section</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Browse API</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Release Log</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
